body {
    width:fit-content;
    margin: 3%;
    background-color: mistyrose;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(15, 73, 73);
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
}
Nav li{
    display:inline-block;
	margin: 10px 60px 20px 60px;
	text-decoration: none;
	list-style-type: none;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Soolbook L", "Times New Roman", "serif";
	font-weight: 100;
}

Nav li a{
    color:rgb(22, 138, 109)
}
Nav li a:hover{
	color:rgb(22, 138, 109);
}
nav{
	width: 100%;
    float: right;
    text-align: center;
}
p{
    font-size: 15px;
    background-color: rgba(52, 90, 73, 0.184);
}
h3{
    text-align: center;
    color:rgb(15, 73, 73);
}
.footer{
    font-style: italic;
    margin: 50px;
}
ol{
    width: 40%;
    border: dotted black 3px;
    padding-bottom: 10px;
}
ul{
    width: 40%;
    border: dotted black 3px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.right{
    float: right;
}
.left{
    float:left;
}
h5{
    color: rgb(22, 138, 109);
    text-decoration: dotted;
}
image{
    object-fit: cover;
    object-position: center;
}